@import "../vars";

.label {
    display: inline-block;
    margin: 0;
    background: transparent;
    border: 1px solid transparent;
    color: @textColor2;
    padding: 2px 5px 2px 5px;
    min-width: 40px;
    outline: none;
    text-shadow: @textShadow;
    text-align: center;
}
