.menu {
    position: absolute;
    box-shadow: 0 4px 20px @sectionBgColor3;
    border: 1px solid @borderColor2;
    border-top: 1px solid @borderColor4;
    border-left: 1px solid @borderColor4;
    min-width: 150px;
    padding: 5px 0px 5px 0px;
    background: @sectionBgColor5;
    color: @textColor1_5;

    > .item {
        .noselect;

        position: relative;
        cursor: default;
        padding: 5px 7px 5px 32px;

        &:hover {
            color: @textColor1;
            background: @selectionBgColor;
            cursor: default;
        }

        &:active {
            color: @textColor1;
            background: @activeBgColor;
        }

        .icon {
            position: absolute;
            left: 10px;
            margin-top: 1px;
        }

        &.disabled {
            color: @textColor4;
            cursor: default;
            text-shadow: none;
        }

        &.disabled:hover, &.disabled:active {
            color: @textColor4;
            background: transparent
        }
    }

    > .divider {
        margin: 3px 0px 3px 0px;
        border-top: 1px solid @borderColor3;
        border-bottom: 1px solid @borderColor5;
    }
}
